attrs==21.4.0
black==22.1.0
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cryptography==36.0.1
dataclasses==0.8
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
Jinja2==3.0.3
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.1.0
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
pendulum==2.1.2
pip==22.0.4
platformdirs==2.5.1
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.7
PySocks==1.7.1
pytest==7.0.1
python-dateutil==2.8.2
pytzdata==2020.1
rendere==2020.3.29
requests==2.27.1
setuptools==60.9.3
six==1.16.0
tomli==2.0.1
typed-ast==1.5.2
typing_extensions==4.1.1
urllib3==1.26.8
wheel==0.37.1
zipp==3.7.0
