<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>{{ eml.package_id }}</title>
</head>
<body>
<div class="container">
<h1> EML Metadata for {{ eml.package_id }}</h1>
<hr/>
<h3>Title</h3>
<p>{{ eml.title }}</p>

<h3>Abstract</h3>
<p>
    {{ eml.abstract }}
</p>

<h3>Creators</h3>
    {% for creator in eml.creators %}
        {{ creator }} <br/>
    {% endfor %}

<h3>Curators</h3>
    {% for contact in eml.contacts %}
        {{ contact }} <br/>
    {% endfor %}

<h3>Intellectual Rights</h3>
    {{ eml.intellectual_rights }}

<h3>Data Table(s)</h3>
{% for table in eml.data_tables %}
    <h4>{{ table["entityName"] }}</h4>
    <ul>
        <li>Description: {{ table["entityDescription"] }}</li>
        {% for phy in table["physical"] %}
            {% for key,value in phy.items() %}
                {% if key == "Checksum(s)" %}
                    <li>{{ key }}:</li>
                    <ul>
                        {% for c in value %}
                            <li>{{ c }}</li>
                        {% endfor %}
                    </ul>
                {% elif key == "Data Format" %}
                    {% set df = phy[key] %}
                    {% set type,items = df.popitem() %}
                    <li>{{ key }}: {{ type }}</li>
                    <ul>
                        {% for key,value in items.items() %}
                            <li>{{ key }}: {{ value }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <li>{{ key }}: {{ value }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
{% endfor %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</div>
</body>
</html>