<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>{{ eml.package_id }}</title>
</head>
<body>
<div class="container">
<h1> EML Metadata for {{ eml.package_id }}</h1>
<hr/>
<h3>Title</h3>
<p>{{ eml.dataset["Resource"]["Title"] }}</p>

<h3>Abstract</h3>
<p>
    {{ eml.dataset["Resource"]["Abstract"] }}
</p>

<h3>Creators</h3>
    {% for creator in eml.dataset["Resource"]["Creator"] %}
        {{ creator }} <br/>
    {% endfor %}

<h3>Curators</h3>
    {% for contact in eml.dataset["Contact"] %}
        {{ contact }} <br/>
    {% endfor %}

<h3>Intellectual Rights</h3>
    {{ eml.dataset["Resource"]["Intellectual Rights"] }}

{% if eml.dataset["Methods"] %}
<h3>Methodology</h3>
    <ol>
    {% for item in eml.dataset["Methods"] %}
        {% set key,value = item.popitem() %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
    </ol>
{% endif %}

<h3>Data Table(s)</h3>
    {% for table in eml.dataset["Data Table"] %}
        <h4>{{ table["Entity Name"] }}</h4>
        {% include "data_table.html" %}
    {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</div>
</body>
</html>